@font-face {
  font-family: "OpenDyslexic";
  src: url("../../accessibility/OpenDyslexic-Regular.otf") format("opentype");
}

.input:focus,
.output:focus {
  outline: var(--focus-size, 4px) solid var(--focus-color, #0000ff);
}

body {
  font-family: Arial, sans-serif;
  color: var(--font-color, whitesmoke);
  background-color: var(--background-color, black);
  transition: background-color 0.5s ease;
}

/* Define focus styles for all elements */
:focus {
  outline: var(--focus-size, 4px) solid var(--focus-color, #0000ff); /* Default color if not set */
}

:root {
  --font-family: Arial, sans-serif;
  --font-size: 16px;
  --font-weight: normal;
  --font-style: normal;
  --font-variant: normal;
  --text-decoration: normal;
}

body,
th,
p,
span,
div,
select,
button,
label,
input[type="text"] {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-variant: var(--font-variant);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  line-height: var(--line-spacing);
  text-decoration: var(--text-decoration);
}

div {
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  margin: 5px;
  padding: 10px;
}

input[type="text"] {
  background-color: var(--black-keys-color);
  color: var(--font-keys-color);
  border: 2px solid var(--white-keys-color);
  margin: 5px;
}

label {
  margin: 2px;
  padding: 2px;
  background: var(--label-background-color);
  border: 2px solid var(--label-border-color);
  border-radius: var(--border-radius);
  color: var(--label-font-color);
  text-align: center;
}

.color-picker-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  min-width: 150px;
}

.color-picker-row label {
  width: 95%;
}

.font {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.output {
  padding: 10px;
}

.input {
  padding: 10px;
  background-color: rgba(26, 122, 136, 0.5);
}

input[type="color"] {
  margin: 10px;
}

.color-picker-row input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  height: 50px;
  width: 90%;
  border: 4px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 0;
  background: none;
}

.color-picker-row input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker-row input[type="color"]::-webkit-color-swatch {
  border: none;
}

.color-picker-row input[type="color"]::-moz-color-swatch {
  border: none;
}

#step-highlight input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  height: 50px;
  width: 90%;
  border: 4px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 0;
  background: none;
}

#step-highlight input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

#step-highlight input[type="color"]::-webkit-color-swatch {
  border: none;
}

#step-highlight input[type="color"]::-moz-color-swatch {
  border: none;
}

button {
  background-color: var(--button-background, blue);
  color: var(--button-font, whitesmoke);
  border: 2px solid var(--button-border);
  border-radius: var(--border-radius);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button:focus {
  transform: scale(1.05);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--select-background-color);
  color: var(--select-font-color, whitesmoke);
  border: 2px solid var(--select-border-color);
  border-radius: 4px;
  padding-right: 40px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--font-color, whitesmoke)" stroke="var(--font-color, whitesmoke)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1px) center;
  margin: 10px;
}

/* Hide the default arrow icon in Firefox */
select::-ms-expand {
  display: none;
}

/* Style the custom arrow icon */
select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--font-color, whitesmoke)" stroke="var(--font-color, whitesmoke)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1px) center; /* Position further to the right */
}

span {
  padding: 5px;
  background: var(--output-background-color);
  border: 2px solid var(--output-border-color);
  border-radius: var(--border-radius);
  color: var(--output-font-color);
  text-align: center;
  font-size: calc(
    var(--base-font-size) * 1.25
  ); /* Adjust based on base font size */
}

:focus {
  outline: var(--focus-size) solid var(--focus-color);
  outline-offset: 0.125rem;
}

.panel {
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  background: var(--panel-background-color);
  background-image: linear-gradient(
    var(--panel-background-color) 0%,
    var(--panel-background-color) 30%,
    var(--panel-gradient-color) 70%,
    var(--panel-gradient-color) 100%
  );
  height: auto;
}

.no-gradient {
  background-image: none;
}

.checkbox-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.radiobutton {
  cursor: pointer;
  padding: 3px 7px;
  background-color: var(--button-background);
  color: var(--button-font);
  border: 2px solid var(--button-border);
  border-radius: var(--border-radius);
  user-select: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  font-size: calc(var(--base-font-size) * 1.25);
}

.checkbox-wrapper input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.checkbox-wrapper input[type="checkbox"]:focus-visible + .radiobutton {
  outline: 2px solid var(--focus-color, #0099ff);
  outline-offset: 4px;
}

.led-indicator {
  width: 12px;
  height: 12px;
  background-color: black; /* LED off color */
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.checkbox-wrapper input[type="checkbox"]:checked + .radiobutton .led-indicator {
  background-color: var(--group-background-color); /* LED on color */
  box-shadow: 0 0 3px var(--group-background-color),
    0 0 3px var(--group-background-color);
}

.radiobutton label {
  margin: 0;
  cursor: pointer;
  user-select: none;
}

#preset-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-evenly;
}

.preset-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  padding: 5px;
  margin: 5px;
  height: auto;
}

.slider-container label {
  width: 90%;
}

.slider-container span {
  width: 90%;
}

.slider-container select {
  width: 90%;
}

.slider-container2 span {
  width: 90%;
}

.slider-container2 select {
  width: 90%;
}

.slider-container2 label {
  width: 90%;
}

.slider-container2 {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: center;
  justify-content: center;
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  padding: 5px;
  margin: 5px;
  height: auto;
}

.seqControl {
  display: flex;
  flex-direction: row; /* Align sliders in a horizontal row */
  justify-content: space-evenly;
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: var(--font-color, whitesmoke);
  background-color: var(--background-color, black);
  padding: 20px;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--border-radius);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.modal-ok-btn {
  margin-top: 20px;
}

.modal[aria-hidden="false"] {
  display: flex;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  background: var(--panel-background-color);
  background-image: linear-gradient(
    var(--panel-background-color) 0%,
    var(--panel-background-color) 30%,
    var(--panel-gradient-color) 70%,
    var(--panel-gradient-color) 100%
  );
  margin: 0 5px;
  padding: 2px;
}

.step-container label {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.step-container select {
  width: 90%;
}

.sliders {
  display: flex;
  flex-direction: row; /* Align sliders in a horizontal row */
  justify-content: start;
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  padding: 10px;
}

.toggle-button {
  margin-top: 5px; /* Spacing between slider and button */
  padding: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button.off {
  background-color: #f44336; /* Changes button color when toggled off */
}

.active {
  outline: 7px solid var(--active-highlight, #00ff33);
}

.highlight input[type="color"] {
  width: 250px;
  height: 70px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.step-sequencer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 96%;
  padding: 10px;
  margin: 10px;
  align-self: center;
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
}

.step-sequencer span {
  width: 90%;
}

.note-select,
.velocity-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--select-background-color);
  color: var(--select-font-color, whitesmoke);
  border: 2px solid var(--select-border-color);
  border-radius: 4px;
  padding-right: 40px;
  padding-left: 5px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--font-color, whitesmoke)" stroke="var(--font-color, whitesmoke)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1px) center;
  margin: 6px;
}

#visualizer {
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-colour);
  box-shadow: 0 12px 20px 5px rgba(0, 0, 0, 0.5);
  margin: 20px auto; /* Center the canvas horizontally */
}

.vis-div {
  display: flex;
  overflow-x: auto;
  justify-content: start;
  align-items: center;
}

.analyserControls {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  margin-top: 8px;
  margin-bottom: 8px;
}

.a-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modulePanel {
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  align-items: center;
  text-align: center;
  margin: 4px;
}

.control {
  display: flex;
  flex-direction: column;
}

.row {
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: center;
}

#connectionDisplay {
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
}
.compPanel {
  display: flex;
  flex-direction: row;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

:root {
  --complexOscillator1-bg-color: rgba(86, 154, 119, 0.5);
  --pulseOscillator1-bg-color: rgba(120, 66, 138, 0.5);
  --filter1-bg-color: rgba(219, 212, 0, 0.5);
  --chorus-bg-color: rgba(131, 85, 56, 0.5);
  --cabinet-bg-color: rgba(56, 67, 131, 0.5);
  --panner-bg-color: rgba(131, 56, 75, 0.5);
  --drive-bg-color: rgba(56, 131, 61, 0.5);
  --oscillator1-bg-color: rgba(117, 131, 56, 0.5);
  --expander-bg-color: rgba(56, 121, 131, 0.5);
  --oscillator2-bg-color: rgba(56, 131, 101, 0.5);
  --AmpEnvelope-bg-color: rgba(131, 56, 129, 0.5);
  --mixer-bg-color: rgba(68, 68, 204, 0.5);
  --delay-bg-color: rgba(204, 138, 68, 0.5);
  --phaser-bg-color: rgba(26, 245, 10, 0.5);
  --eq-bg-color: rgba(204, 51, 70, 0.5);
  --dualFilter-bg-color: rgba(32, 197, 90, 0.5);
  --externalInput-bg-color: rgba(248, 27, 241, 0.5);
  --reverb-bg-color: rgba(217, 13, 13, 0.5);
  --mutator-bg-color: rgba(255, 98, 0, 0.5);
}

.module {
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  margin: 10px;
}

.colorPicker {
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  appearance: none;
}

.colorPicker::-webkit-color-swatch {
  border: 2px solid black;
  border-radius: 50%;
}

.colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

#complexOscillator1-output {
  background-color: var(--complexOscillator1-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#pulseOscillator1-output {
  background-color: var(--pulseOscillator1-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#filter1-output {
  background-color: var(--filter1-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#chorus-output {
  background-color: var(--chorus-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#cabinet-output {
  background-color: var(--cabinet-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#panner-output {
  background-color: var(--panner-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#drive-output {
  background-color: var(--drive-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#oscillator1-output {
  background-color: var(--oscillator1-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#expander-output {
  background-color: var(--expander-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#oscillator2-output {
  background-color: var(--oscillator2-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#ampEnvelope-output {
  background-color: var(--AmpEnvelope-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#mixerOut-output {
  background-color: var(--mixer-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#delay-output {
  background-color: var(--delay-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#phaser-output {
  background-color: var(--phaser-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#eq-output {
  background-color: var(--eq-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#dualFilter-output {
  background-color: var(--dualFilter-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#externalInput-output {
  background-color: var(--externalInput-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#reverb-output {
  background-color: var(--reverb-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#mutator-output {
  background-color: var(--mutator-bg-color);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
#mixer1-input {
  margin-bottom: 8px;
}

#LFO_1 {
  width: 260px;
}

#LFO_2 {
  width: 260px;
}

#LFO_3 {
  width: 260px;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../accessibility/OpenDyslexic-Regular.otf") format("opentype");
}

.color-picker-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; /* Set a fixed width for each color picker row */
  border: none;
}

.color-picker-row button {
  width: 200px;
}

.font {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.font select {
  width: 90%;
}

/* Range slider designs */
.slider-container input[type="range"]:focus::-webkit-slider-thumb {
  outline: var(--focus-size) solid var(--focus-color);
  outline-offset: 0.125rem;
}

/* Clasic Makie style */
.slider-container.classic input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 150px;
  height: 8px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  cursor: pointer;
  margin: 25px;
}

.slider-container.classic input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 25px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      black 16%,
      black 17%,
      transparent 17%,
      transparent 22%,
      black 22%,
      black 23%,
      transparent 23%,
      transparent 28%,
      black 28%,
      black 29%,
      transparent 29%,
      transparent 34%,
      black 34%,
      black 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-outline-color, #c51162) 53%,
      var(--slider-outline-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      black 75%,
      black 76%,
      transparent 76%,
      transparent 81%,
      black 81%,
      black 82%,
      transparent 82%,
      transparent 87%,
      black 87%,
      black 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5),
    inset 0 1px 4px rgba(255, 255, 255, 0.3),
    inset 0 -1px 4px rgba(0, 0, 0, 0.3);
  background-blend-mode: normal, normal, overlay; /* Blends the tilting effect with the base colors */
}

.slider-container.classic input[type="range"]::-moz-range-thumb {
  width: 45px;
  height: 25px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      black 16%,
      black 17%,
      transparent 17%,
      transparent 22%,
      black 22%,
      black 23%,
      transparent 23%,
      transparent 28%,
      black 28%,
      black 29%,
      transparent 29%,
      transparent 34%,
      black 34%,
      black 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-outline-color, #c51162) 53%,
      var(--slider-outline-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      black 75%,
      black 76%,
      transparent 76%,
      transparent 81%,
      black 81%,
      black 82%,
      transparent 82%,
      transparent 87%,
      black 87%,
      black 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5),
    inset 0 1px 4px rgba(255, 255, 255, 0.3),
    inset 0 -1px 4px rgba(0, 0, 0, 0.3);
  background-blend-mode: normal, normal, overlay;
}

/* Minimal */
.slider-container.minimal input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 150px;
  height: 8px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  margin: 32px;
}

.slider-container.minimal input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
}

.slider-container.minimal input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
}

/* Fancy */
.slider-container.fancy input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 150px;
  height: 6px;
  border-radius: 5px;
  transition: opacity 0.2s, box-shadow 0.2s;
  cursor: pointer;
  margin: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-container.fancy input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      black 16%,
      black 17%,
      transparent 17%,
      transparent 22%,
      black 22%,
      black 23%,
      transparent 23%,
      transparent 28%,
      black 28%,
      black 29%,
      transparent 29%,
      transparent 34%,
      black 34%,
      black 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-track-color, #c51162) 53%,
      var(--slider-track-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      black 75%,
      black 76%,
      transparent 76%,
      transparent 81%,
      black 81%,
      black 82%,
      transparent 82%,
      transparent 87%,
      black 87%,
      black 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
  transition: transform 0.2s;
}

.slider-container.fancy input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      black 16%,
      black 17%,
      transparent 17%,
      transparent 22%,
      black 22%,
      black 23%,
      transparent 23%,
      transparent 28%,
      black 28%,
      black 29%,
      transparent 29%,
      transparent 34%,
      black 34%,
      black 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-track-color, #c51162) 53%,
      var(--slider-track-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      black 75%,
      black 76%,
      transparent 76%,
      transparent 81%,
      black 81%,
      black 82%,
      transparent 82%,
      transparent 87%,
      black 87%,
      black 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
  transition: transform 0.2s;
}

.slider-container.fancy input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.1);
}

.slider-container.fancy input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.1);
}

.slider-container.fancy input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.1);
}

.slider-container.fancy input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.1);
}
/* Retro */
.slider-container.retro input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 150px;
  height: 8px;
  border-radius: 3px;
  transition: opacity 0.2s, box-shadow 0.2s;
  cursor: pointer;
  margin: 35px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider-container.retro input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.retro input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.retro input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.slider-container.retro input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
}

.slider-container.retro input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.2);
}

.slider-container.retro input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.2);
}

/* Modern Mixing Desk */
.slider-container.modern input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 150px;
  height: 8px;
  border-radius: 4px;
  transition: opacity 0.2s, box-shadow 0.2s;
  cursor: pointer;
  margin: 38px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-container.modern input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
  transform: rotate(45deg);
}

.slider-container.modern input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.modern input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.5);
}

.slider-container.modern input[type="range"]:hover::-moz-range-thumb {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.5);
}

.slider-container.modern input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.5);
}

.slider-container.modern input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.5);
}

.slider-container.modern input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.5);
}

.slider-container.modern input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.5);
}

/* twist */
.slider-container.twist input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 4px solid var(--slider-track-color);
  width: 150px;
  height: 30px;
  border-radius: 4px;
  transition: opacity 0.2s, height 0.2s;
  cursor: pointer;
  margin: 25px;
  outline: none;
}

.slider-container.twist input[type="range"]:active {
  transform: scale(1.2);
}

.slider-container.twist input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 4px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  transition: transform 0.2s;
}

.slider-container.twist input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 4px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  transition: transform 0.2s;
}

.slider-container.twist input[type="range"]:active::-webkit-slider-thumb {
  transform: rotate(45deg);
}

.slider-container.twist input[type="range"]:active::-moz-range-thumb {
  transform: rotate(45deg);
}

/* Flat */
.slider-container.flat input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 150px;
  height: 7px;
  border-radius: 4px;
  cursor: pointer;
  margin: 25px;
}

.slider-container.flat input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--slider-thumb-color);
  border: 3px solid var(--slider-outline-color);
  transition: transform 0.2s;
}

.slider-container.flat input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--slider-thumb-color);
  border: 3px solid var(--slider-outline-color);
  transition: transform 0.2s;
}

.slider-container.flat input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.1);
}

.slider-container.flat input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.1);
}

.slider-container.flat input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.1);
}

.slider-container.flat input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.1);
}

/* Shadow */
.slider-container.shadow input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 150px;
  height: 6px;
  border-radius: 4px;
  cursor: pointer;
  margin: 30px;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.5);
}

.slider-container.shadow input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 44px;
  height: 25px;
  border-radius: 2px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      transparent 16%,
      transparent 17%,
      transparent 17%,
      transparent 22%,
      transparent 22%,
      transparent 23%,
      transparent 23%,
      transparent 28%,
      transparent 28%,
      transparent 29%,
      transparent 29%,
      transparent 34%,
      transparent 34%,
      transparent 35%,
      transparent 35%,
      transparent 40%,
      transparent 40%,
      transparent 41%,
      transparent 41%,
      transparent 46%,
      transparent 46%,
      transparent 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-track-color, #c51162) 53%,
      var(--slider-track-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      transparent 63%,
      transparent 64%,
      transparent 64%,
      transparent 69%,
      transparent 69%,
      transparent 70%,
      transparent 70%,
      transparent 75%,
      transparent 75%,
      transparent 76%,
      transparent 76%,
      transparent 81%,
      transparent 81%,
      transparent 82%,
      transparent 82%,
      transparent 87%,
      transparent 87%,
      transparent 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: 2px solid var(--slider-outline-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 3px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.shadow input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 44px;
  height: 25px;
  border-radius: 2px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      transparent 16%,
      transparent 17%,
      transparent 17%,
      transparent 22%,
      transparent 22%,
      transparent 23%,
      transparent 23%,
      transparent 28%,
      transparent 28%,
      transparent 29%,
      transparent 29%,
      transparent 34%,
      transparent 34%,
      transparent 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-track-color, #c51162) 53%,
      var(--slider-track-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      transparent 75%,
      transparent 76%,
      transparent 76%,
      transparent 81%,
      transparent 81%,
      transparent 82%,
      transparent 82%,
      transparent 87%,
      transparent 87%,
      transparent 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: 2px solid var(--slider-outline-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 3px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.shadow input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6),
    inset 0 1px 4px rgba(255, 255, 255, 0.8);
}

.slider-container.shadow input[type="range"]:hover::-moz-range-thumb {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6),
    inset 0 1px 4px rgba(255, 255, 255, 0.8);
}

.slider-container.shadow input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

.slider-container.shadow input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

.slider-container.shadow input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

.slider-container.shadow input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

/* Outline */
.slider-container.outline input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 4px solid var(--slider-track-color);
  background-color: transparent; /* Make the track transparent */
  width: 150px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 25px;
  outline: none; /* Remove the default outline */
}

.slider-container.outline input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: transparent;
}

.slider-container.outline input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: transparent;
}

.slider-container.outline input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.slider-container.outline input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
}

.slider-container.outline input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.2);
}

.slider-container.outline input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.2);
}

/* simple */
.slider-container.simple input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--slider-track-color);
  background-color: var(--slider-track-color); /* Make the track transparent */
  width: 150px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 25px;
  outline: none;
}

.slider-container.simple input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.simple input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.simple input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.slider-container.simple input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
}

.slider-container.simple input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.2);
}

.slider-container.simple input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.2);
}

.midi-param-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  max-width: 240px;
  padding: 4px;
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
}

/* tour modal */
.custom-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--font-color, whitesmoke);
  background-color: var(--background-color, black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  max-width: 50%;
  padding: 5px;
  border: var(--border-thickness) solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
}

.custom-modal-content {
  width: 90%;
  text-align: center;
  padding: 20px;
  justify-content: center;
}

#tutorial-selector {
  display: flex;
  flex-direction: column;
}
.custom-modal-buttons {
  margin: 14px;
}

.focus-highlight {
  outline: var(--focus-size) solid var(--focus-color);
}

#custom-tour-text:focus {
  outline-offset: 5px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: var(--button-background, blue);
  color: var(--button-font, whitesmoke);
  border: 2px solid var(--button-border);
  border-radius: var(--border-radius);
  padding: 6px 12px;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
}

[data-param] {
  transition: all 0.25s ease-in-out;
}

#visualizer {
  width: 100%; /* Full width of parent */
  height: 35vh; /* 25% of viewport height */
}

.slider-container select {
  width: 190px;
}

.modal-content {
  max-width: 900px !important;
  width: 90% !important;
  overflow-y: auto !important;
  max-height: 90vh !important;
}
