@font-face {
  font-family: "LCD";
  src: url("../fonts/LCD2U___.TTF") format("opentype");
}

.desktop {
  width: 99%;
  height: 100vh;
  background-image: url("../wood-591631.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  border: 1px solid rgb(255, 255, 255);
  background-color: black !important;
  color: white !important;
  height: 40px;
  width: 80%;
  font-size: 25px;
}

input[type="text"]:focus {
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 3px;
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  color: white !important;
  background-color: black !important;
  border: 1px solid rgb(255, 255, 255) !important;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  background-color: #2e3440;
  color: antiquewhite;
  border-radius: 5px;
}

span {
  background-color: #2e3440;
  color: antiquewhite;
  border-radius: 5px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  color: antiquewhite;
  background-color: #2e3440;
  border-radius: 4px;
  padding-right: 40px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%23fff" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1px) center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%23fff" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1px) center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: center;
  justify-content: center;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  align-items: center;
  height: auto;
  width: 150px;
}

.slider-container label {
  width: 90%;
}

.slider-container span {
  width: 90%;
}

.select-div {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: center;
  justify-content: center;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  align-items: center;
  height: auto;
  width: 150px;
}

.select-div label {
  width: 100%;
}

.select-div select {
  width: 100%;
}

#fx-bank,
#fx-chain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 12px 0;
}

.fx-block {
  background: linear-gradient(to bottom, #545454 0%, #626161 50%, #484848 100%);
  border-radius: 8px;
  padding: 10px 16px;
  box-shadow: 0 2px 5px #0003;
  color: #f4f4f4;
  cursor: grab;
  user-select: none;
  font-weight: bold;
  border: 2px solid #f4f4f4;
  display: flex;
  flex-wrap: wrap;
}

.fx-block:focus {
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.fx-block-title {
  text-align: center;
  font-weight: bold;
  padding: 0.3em 0 0.3em 0;
  font-size: 1.1em;
  letter-spacing: 0.04em;
  width: 100%;
  /* Optional for nicer look: */
  border-bottom: 1px solid #3334;
  margin-bottom: 0.3em;
}

.fx-block.dragging {
  opacity: 0.4;
  border-style: dashed;
}

#fx-chain {
  min-height: 60px;
  min-width: 90%;
  border: 2px dashed #c7c6c6;
  border-radius: 8px;
  margin-bottom: 18px;
  align-items: center;
  padding: 10px;
}

#fx-chain .fx-block {
  cursor: move;
}

.remove-button {
  height: 40px;
  width: 40px;
  background-color: #757a84;
  color: whitesmoke;
  font-size: 30px;
  margin-left: 10px;
}
#audio-controls {
  margin: 20px 0;
}

.synth-controls {
  display: flex;
  flex-direction: row;
}

.checkbox-container {
  color: white;
  margin-bottom: 8px;
  margin-top: 40px;
  margin-left: 10px;
  border: none;
  height: 20px;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 180px;
}

.checkbox-button {
  display: inline-block;
  padding: 10px;
  background: black;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.checkbox-input:checked ~ .checkbox-button {
  background: black;
  border: 5px solid white;
}

.checkbox-input:focus ~ .checkbox-button {
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgb(125, 125, 125);
  outline: none;
  border: 1px solid #000000;
  width: 120px;
  height: 6px;
  border-radius: 4px;
  cursor: pointer;
  margin: 30px;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 44px;
  height: 25px;
  border-radius: 2px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      transparent 16%,
      transparent 17%,
      transparent 17%,
      transparent 22%,
      transparent 22%,
      transparent 23%,
      transparent 23%,
      transparent 28%,
      transparent 28%,
      transparent 29%,
      transparent 29%,
      transparent 34%,
      transparent 34%,
      transparent 35%,
      transparent 35%,
      transparent 40%,
      transparent 40%,
      transparent 41%,
      transparent 41%,
      transparent 46%,
      transparent 46%,
      transparent 47%,
      transparent 47%,
      transparent 52%,
      #3de4e8 52%,
      #3de4e8 53%,
      lightgreen 53%,
      lightgreen 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      transparent 63%,
      transparent 64%,
      transparent 64%,
      transparent 69%,
      transparent 69%,
      transparent 70%,
      transparent 70%,
      transparent 75%,
      transparent 75%,
      transparent 76%,
      transparent 76%,
      transparent 81%,
      transparent 81%,
      transparent 82%,
      transparent 82%,
      transparent 87%,
      transparent 87%,
      transparent 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(to bottom, #474646 0%, #474747 100%),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: 2px solid #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 3px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s, box-shadow 0.2s;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 44px;
  height: 25px;
  border-radius: 2px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      transparent 16%,
      transparent 17%,
      transparent 17%,
      transparent 22%,
      transparent 22%,
      transparent 23%,
      transparent 23%,
      transparent 28%,
      transparent 28%,
      transparent 29%,
      transparent 29%,
      transparent 34%,
      transparent 34%,
      transparent 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      #3de4e8 53%,
      #3de4e8 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      transparent 75%,
      transparent 76%,
      transparent 76%,
      transparent 81%,
      transparent 81%,
      transparent 82%,
      transparent 82%,
      transparent 87%,
      transparent 87%,
      transparent 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(to bottom, #474646 0%, #474747 100%),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: 2px solid #3de89e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 3px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s, box-shadow 0.2s;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 1px;
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 1px;
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

.synth {
  background: linear-gradient(to bottom, #545454 0%, #626161 50%, #484848 100%);
  box-shadow: 12px 12px 22px rgba(0, 0, 0, 0.7),
    -5px -5px 20px rgba(255, 255, 255, 0.05),
    inset 0 10px 30px rgba(16, 15, 15, 0.5),
    inset 0 -20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 95%;
  margin-top: 30px;
  margin-left: 10px;
}

.synth::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: inset 0 2px 4px rgba(34, 34, 34, 0.1);
}

.synth::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 50%;
  z-index: 1;
  pointer-events: none;
}

.audio-preset-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  width: 98%;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  color: whitesmoke;
  margin-bottom: 10px;
}

#audio-preset-list {
  overflow: auto;
  font-family: "LCD", monospace;
  font-weight: bold;
  font-size: 20px;
  color: #182424;
  background-color: #206976;
  border-radius: 5px;
  border: 4px solid #404040;
  border-image: linear-gradient(
      to bottom,
      rgba(43, 43, 43, 0.5),
      rgba(160, 160, 160, 0.5),
      rgba(90, 90, 90, 0.8)
    )
    1 stretch;
  padding: 3px;
  text-shadow: 0 0 1px #504f4f;
  text-align: center;
  width: 400px;
  height: 130px;
}

.midi-select-wrapper {
  display: flex;
  flex-direction: column;
}

#midi-mapping-list {
  overflow: auto;
  font-family: "LCD", monospace;
  font-weight: bold;
  font-size: 20px;
  color: #182424;
  background-color: #206976;
  border-radius: 5px;
  border: 4px solid #404040;
  border-image: linear-gradient(
      to bottom,
      rgba(43, 43, 43, 0.5),
      rgba(160, 160, 160, 0.5),
      rgba(90, 90, 90, 0.8)
    )
    1 stretch;

  padding: 3px;
  text-shadow: 0 0 1px #504f4f;
  text-align: center;
  width: 500px;
  height: 130px;
}

#midi-preset-list {
  overflow: auto;
  font-family: "LCD", monospace;
  font-weight: bold;
  font-size: 20px;
  color: #182424;
  background-color: #206976;
  border-radius: 5px;
  border: 4px solid #404040;
  border-image: linear-gradient(
      to bottom,
      rgba(43, 43, 43, 0.5),
      rgba(160, 160, 160, 0.5),
      rgba(90, 90, 90, 0.8)
    )
    1 stretch;

  padding: 3px;
  text-shadow: 0 0 1px #504f4f;
  text-align: center;
  width: 400px;
  height: 130px;
}

#midi-mapping-list ul,
#midi-preset-list ul,
#audio-preset-list ul {
  list-style: none;
  padding: 0;
}

#midi-mapping-list li,
#midi-preset-list li,
#audio-preset-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

#midi-mapping-list .remove-btn,
#midi-preset-list .remove-btn,
#audio-preset-list .remove-btn {
  color: #182424;
  background-color: #206976;
  font-family: "LCD", monospace;
  font-weight: bold;
  border: 2px dashed black;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#midi-mapping-list .remove-btn:focus,
#midi-preset-list .remove-btn:focus,
#audio-preset-list .remove-btn:focus {
  outline: 2px dashed black;
  outline-offset: 2px;
}

.remove-btn2 {
  border: none;
  background-color: #206976;
  font-family: "LCD", monospace;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.midi-learn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  width: 98%;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  color: whitesmoke;
  margin-bottom: 10px;
}

#midi-ui {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  width: 98.3%;
  color: whitesmoke;
  margin-bottom: 10px;
}

#midi-ui label {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.midi-select-wrapper {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #222;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 20px black;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none !important;
}

.slider-container.learning {
  outline: 2px dashed yellow;
  animation: pulse 1s infinite;
}

.speach-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#outputMeterCanvas {
  margin-left: 10px;
}

.lcd-button {
  background: linear-gradient(to bottom, #f0f0f0, #c0c0c0);
  border: 2px solid #888;
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin-bottom: 5px;
}

.lcd-button:active {
  transform: translateY(2px);
}

.lcd-button:focus {
  outline: 1px solid whitesmoke;
  box-shadow: 0 0 6px whitesmoke;
}

#toggleAccess {
  display: none;
}
